/*general*/
body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455
}
.main-title {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}
.section-title {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.card-text {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.base-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}
.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-link .logo-span {
    color: #2e2f42;
}
.list-style-none {
    list-style: none;
}
    .head .navbar .navbar-a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    }
    .head .navbar .navbar-a:hover{
        color: #404bbf;
    }
    .head .navbar .navbar-a:focus{
        color: #404bbf;
    }
    .head .contact-info{
        font-style: normal;
    }
        .head .contact-info .address-a{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-decoration: none;
        }
        .head .contact-info .address-a:hover{
            color: #404bbf;
        }
        .head .contact-info .address-a:focus{
            color: #404bbf;
        }
/*main*/
/*hero section*/
.hero-section{
    background-color: #2e2f42;
}
    .hero-section .main-title{
        line-height: 1.07;
        text-align: center;
        color: #ffffff;
    }
    .hero-section .hero-button{
        background: #4d5ae5;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
    .hero-section .hero-button:hover{
        background: #404bbf;
    }
    .hero-button:focus{
        background: #404bbf;
    }

/*services-section*/
.services-section{
    background-color: #ffffff;
}

/*team-section*/
.team-section{
    background-color: #f4f4fd;
}
    .team-section .team-member-card{
        background-color: #ffffff;
    }
/*portfolio-section*/
.portfolio-section{
    background-color: #ffffff;
}
    .portfolio-section .portfolio-card{
        background-color: #ffffff;
    }

/*footer*/
.footer{
    background-color: #2e2f42;
}
    .footer .logo-link{
        color: #4d5ae5;
    }
    .footer .logo-link .logo-span{
        color: #f4f4fd;
    }
    .footer .footer-p{
        color: #f4f4fd;
    }