/*general*/
body{
    background-color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455
}
h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}
h2 {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}
.button-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-link .logo-span {
    color: #2e2f42;
}
ul {
    list-style: none;
}
    header nav li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    header nav li a:hover{
        color: #404bbf;
    }
    header nav li a:active{
        color: #404bbf;
    }
    header .contact-info{
        font-style: normal;
    }
        header .contact-info li a{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
        header .contact-info li a:hover{
            color: #404bbf;
        }
        header .contact-info li a:active{
            color: #404bbf;
        }
/*main*/
/*hero section*/
.hero-section{
    background-color: #2e2f42;
}
    .hero-section .main-title{
        line-height: 1.07;
        text-align: center;
        color: #ffffff;
    }
    .hero-section .hero-button{
        background: #4d5ae5;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
    .hero-section .hero-button:hover{
        background: #404bbf;
    }
    .hero-button:focus{
        background: #404bbf;
    }

/*services-section*/
.services-section{
    background-color: #ffffff;
}

/*team-section*/
.team-section{
    background-color: #f4f4fd;
}
    .team-section .team-member-card{
        background-color: #ffffff;
    }
/*portfolio-section*/
.portfolio-section{
    background-color: #ffffff;
}
    .portfolio-section .portfolio-card{
        background-color: #ffffff;
    }

/*footer*/
.footer{
    background-color: #2e2f42;
}
    .footer .logo-link{
        color: #4d5ae5;
    }
    .footer .logo-link .logo-span{
        color: #f4f4fd;
    }
    .footer .footer-p{
        color: #f4f4fd;
    }